 div{
    background-color: blue;
    width: 50vw;
    height: 40vh;
    color: #fff;
    overflow: hidden;
    font-size: 48px;
    align-items: center;
    text-align: center;
}

.a {
    border-style:solid;
     /* border-color: red;
    border-top-color: yellow;
    border-bottom-color: green;
    border-right-color: orangered;
    border-left-color: violet;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 50px; */
    border-width:100px ;
    border-color:  green yellow orangered red;
    border-radius: 160px 0px 160px 0px;
    border-style:groove;
    
}


#img{
    height: 70vh;
    width: 90vw;
    background-color: red;
    border-style: dotted;
    border-width: 20px;
    border-color:  green yellow orangered blue;
    background-image: url(../img/showcase.jpeg);
    background-size: contain;
    background-clip: content-box;
    background-repeat: no-repeat;
}

#circle{
    width: 25rem;
    height: 25rem;
    background-color: red;
    border: 4px solid blue;
    border-radius: 50%;
}
body{
    margin-bottom: 500px;
}